@import "./variable.scss";
@import "./media.scss";

#booking {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  flex-direction: column;

  .container-main {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-gap: 25px;
    max-width: 1200px;
    margin: auto;
    padding: 90px 20px;
    padding-bottom: 0px;
    @include md {
      grid-template-columns: 1fr;
    }

    .container {
      .grid__one {
        padding: 0px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include md {
          grid-template-columns: 1fr;
        }
        .btns {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-gap: 1rem;
          width: 100%;
          z-index: 1;
          max-width: 560px;
          justify-content: start;

          @include md {
            margin: auto;
          }

          button {
            padding: 18px 10px 10px;
            border-top-right-radius: 25px;
            border-top-left-radius: 25px;
            display: grid;
            align-items: center;
            max-width: 234px;
            font-weight: 500;
            background: #a2a9ad;
            font-family: "Cairo", sans-serif;
            font-size: 18px;
            justify-content: center;
            grid-template-columns: 0.2fr 0.2fr 0.2fr;
            grid-gap: 0px 10px;

            img {
              object-fit: contain;
            }
          }

          button.active {
            background: white;
            color: #373a36 !important;
            // img {
            //   filter: invert(1);
            // }
          }
        }
      }

      .tabs-content {
        padding: 50px 30px 50px;
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 1rem;
        border-top-left-radius: 50px !important;
        border-top-right-radius: 50px !important;
        background-color: white;
        align-items: center;
        height: 100%;
        justify-content: flex-start;

        @include md {
          grid-template-columns: 1fr;
          border-radius: 0;
          padding: 50px 20px;
        }

        .grid__two {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          .booking-address {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            max-width: 560px;
            option {
              color: black;
            }
            .item__ {
              display: flex;
              gap: 10px;
              align-items: center;
              justify-content: space-between;
              align-self: self-end;
              p {
                color: black;
                font-size: 20px;
              }
            }
            .input-box-wrap {
              width: 100%;
              display: grid;
              grid-template-columns: 1fr 4fr;
              align-items: center;
              grid-column-gap: 22px;
              justify-content: center;

              .two {
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;

                .item {
                  display: grid;
                  justify-content: end;
                  gap: 10px;
                  margin-top: 10px;

                  p {
                    text-align: end;
                    color: #373a36;

                    font-size: 16px;
                  }

                  .btn {
                    .react-datepicker__time-container
                      .react-datepicker__time
                      .react-datepicker__time-box
                      ul.react-datepicker__time-list
                      li.react-datepicker__time-list-item {
                      height: 30px;
                      padding: 5px 10px;
                      white-space: nowrap;
                      color: black;
                    }

                    input {
                      gap: 16px;
                      width: 203px;
                      height: 48px;
                      display: grid;
                      grid-template-columns: 1fr;
                      align-items: center;
                      background: #fafafa;
                      border: 1px solid rgba(47, 43, 67, 0.1);
                      box-shadow: 0px 1px 3px rgba(47, 43, 67, 0.1),
                        inset 0px -1px 0px rgba(47, 43, 67, 0.1);
                      border-radius: 12px;
                      color: black;
                      padding: 12px;
                    }

                    > div {
                      color: rgba(47, 43, 67, 0.6);
                    }

                    .start {
                      padding: 0 15px;
                      border-right: 1px solid rgba(47, 43, 67, 0.1);
                      height: 100%;
                      align-items: center;
                      display: flex;
                    }

                    .end {
                      display: flex;
                      justify-content: end;
                      padding: 0 15px;
                      height: 100%;
                      align-items: center;
                      display: flex;
                    }
                  }
                }
              }

              .plus {
                color: #00afaa;
                font-size: 16px;
                margin-top: 25px;
                font-weight: 700;
                font-family: "Cairo", sans-serif;
                opacity: 0;
              }

              .day {
                color: #373a36;
                font-size: 33px;
                margin-top: 25px;
                font-weight: 700;
                font-family: "Cairo", sans-serif;
              }

              .input-box {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                padding: 0px;
                gap: 8px;
                width: 100%;
                font-family: "Cairo", sans-serif;

                p {
                  font-weight: 600;
                  font-size: 16px;
                  font-family: "Cairo", sans-serif;
                  color: #373a36;
                }

                .input {
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  padding: 0px 16px;
                  gap: 12px;
                  height: 48px;
                  background: #fafafa;
                  border: 1px solid rgba(47, 43, 67, 0.1);
                  box-shadow: 0px 1px 3px rgba(47, 43, 67, 0.1),
                    inset 0px -1px 0px rgba(47, 43, 67, 0.1);
                  border-radius: 12px;
                  width: 100%;
                  padding: 0px 16px;

                  input {
                    background: #fafafa;
                    height: 100%;
                    width: 100%;
                    border: 0px;
                    outline: none;
                    display: flex;
                    align-items: center;
                    text-align: right;
                    font-family: "Cairo", sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    color: rgba(47, 43, 67, 0.6);
                  }
                }
              }
            }

            .input-box-wrap {
              width: 100%;
              display: grid;
              grid-template-columns: 1fr 4fr;
              align-items: center;
              justify-content: center;

              .two-input-boxes {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                width: 100%;
              }
            }

            .offers {
              display: flex;
              flex-direction: column;
              align-items: self-end;
              justify-content: center;
              gap: 20px;
              width: 100%;

              h1 {
                font-weight: 400;
                font-size: 22px;
                font-family: "Cairo", sans-serif;
                color: #373a36;
              }

              .input-check-wrap {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 4fr;
                align-items: center;
                justify-content: center;

                .input-check {
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  align-items: center;
                  padding: 0px 16px;
                  gap: 12px;
                  height: 48px;
                  background: #fafafa;
                  border: 1px solid rgba(47, 43, 67, 0.1);
                  box-shadow: 0px 1px 3px rgba(47, 43, 67, 0.1),
                    inset 0px -1px 0px rgba(47, 43, 67, 0.1);
                  border-radius: 12px;
                  width: 100%;
                  padding: 0px 16px;

                  .input {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 12px;

                    label {
                      font-weight: 600;
                      font-size: 16px;
                      font-family: "Cairo", sans-serif;
                      color: #2f2b43;
                    }
                  }

                  span {
                    color: rgba(47, 43, 67, 0.6);
                    font-size: 16px;
                    font-weight: 400;
                    font-family: "Cairo", sans-serif;
                  }
                }
              }
            }

            .select-btns {
              display: grid;
              grid-template-columns: 1fr 1.5fr;
              width: 100%;
              grid-gap: 0px 15px;
              margin-top: 40px;

              .btn1 {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 12px 16px;
                gap: 8px;
                max-width: 442px;
                font-weight: 700;
                font-size: 16px;
                color: #373a36 !important;
                height: auto;
                background: #ffcd00;
                box-shadow: 0px 1px 3px rgba(47, 43, 67, 0.1),
                  inset 0px -1px 0px rgba(47, 43, 67, 0.1);
                border-radius: 25px;
                cursor: pointer;
              }

              .btn2 {
                font-weight: 700;
                font-size: 16px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 12px 16px;
                gap: 8px;
                max-width: 442px;
                color: white;
                height: auto;
                font-family: "Cairo", sans-serif;
                cursor: pointer;
                background: #f34141;
                box-shadow: 0px 1px 3px rgba(47, 43, 67, 0.1),
                  inset 0px -1px 0px rgba(47, 43, 67, 0.1);
                border-radius: 25px;
              }
            }
          }
        }

        .grid__three {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          max-width: 560px;

          .booking-address {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            width: 100%;

            .input-box-wrap {
              width: 100%;
              display: grid;
              grid-template-columns: 1fr 4fr;
              align-items: center;
              gap: 20px;
              justify-content: center;

              .tick {
                height: 100%;
                display: flex;
                align-items: end;
                justify-content: center;

                span {
                  width: 100%;
                  cursor: pointer;
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  padding: 12px 16px;
                  gap: 8px;
                  width: 135px;
                  height: 44px;
                  background: rgba(47, 43, 67, 0.05);
                  font-family: "Cairo", sans-serif;
                  font-size: 16px;
                  font-weight: 700;
                  color: #a2a9ad;
                  box-shadow: 0px 1px 3px rgba(47, 43, 67, 0.1),
                    inset 0px -1px 0px rgba(47, 43, 67, 0.1);
                  border-radius: 25px;
                }
              }

              .day {
                color: #373a36;
                font-size: 33px;
                margin-top: 25px;
                font-weight: 700;
                font-family: "Cairo", sans-serif;
              }

              .input-box {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                padding: 0px;
                gap: 8px;
                width: 100%;
                font-family: "Cairo", sans-serif;

                p {
                  font-weight: 600;
                  font-size: 16px;
                  font-family: "Cairo", sans-serif;
                  color: #373a36;
                }

                .input {
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  padding: 0px 16px;
                  gap: 12px;
                  height: 48px;
                  background: #fafafa;
                  border: 1px solid rgba(47, 43, 67, 0.1);
                  box-shadow: 0px 1px 3px rgba(47, 43, 67, 0.1),
                    inset 0px -1px 0px rgba(47, 43, 67, 0.1);
                  border-radius: 12px;
                  width: 100%;
                  padding: 0px 16px;

                  input {
                    background: #fafafa;
                    height: 100%;
                    width: 100%;
                    border: 0px;
                    outline: none;
                    display: flex;
                    align-items: center;
                    text-align: right;
                    font-family: "Cairo", sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    color: rgba(47, 43, 67, 0.6);
                  }
                }
              }
            }

            .select-btns {
              display: grid;
              grid-template-columns: 1fr 1.5fr;
              width: 100%;
              grid-gap: 0px 15px;
              margin-top: 40px;

              .btn1 {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 12px 16px;
                gap: 8px;
                max-width: 442px;
                font-weight: 700;
                font-size: 16px;
                color: #373a36 !important;
                height: auto;
                background: #ffcd00;
                box-shadow: 0px 1px 3px rgba(47, 43, 67, 0.1),
                  inset 0px -1px 0px rgba(47, 43, 67, 0.1);
                border-radius: 25px;
                cursor: pointer;
              }

              .btn2 {
                font-weight: 700;
                font-size: 16px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 12px 16px;
                gap: 8px;
                max-width: 442px;
                color: white;
                height: auto;
                font-family: "Cairo", sans-serif;
                cursor: pointer;
                background: #f34141;
                box-shadow: 0px 1px 3px rgba(47, 43, 67, 0.1),
                  inset 0px -1px 0px rgba(47, 43, 67, 0.1);
                border-radius: 25px;
              }
            }
          }
        }

        .grid__four {
          .booking-address {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 30px;
            max-width: 560px;

            h1 {
              font-weight: 400;
              font-size: 22px;
              font-family: "Cairo", sans-serif;
              color: #373a36;
            }

            .choose-1 {
              display: flex;
              flex-direction: column;
              align-items: end;
              justify-content: center;
              gap: 20px;

              img {
                max-width: 250px;
                width: 100%;
              }

              .choose-points {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 20px 14px;
              }
            }

            .choose-2 {
              display: flex;
              flex-direction: column;
              align-items: end;
              justify-content: center;
              gap: 20px;

              .choose-points {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: end;
                gap: 20px;
              }
            }

            .select-btns {
              display: grid;
              grid-template-columns: 1fr 1.5fr;
              width: 100%;
              grid-gap: 0px 15px;
              margin-top: 40px;

              .btn1 {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 12px 16px;
                gap: 8px;
                max-width: 442px;
                font-weight: 700;
                font-size: 16px;
                color: #373a36 !important;
                height: auto;
                background: #ffcd00;
                box-shadow: 0px 1px 3px rgba(47, 43, 67, 0.1),
                  inset 0px -1px 0px rgba(47, 43, 67, 0.1);
                border-radius: 25px;
                cursor: pointer;
              }

              .btn2 {
                font-weight: 700;
                font-size: 16px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 12px 16px;
                gap: 8px;
                max-width: 442px;
                color: white;
                height: auto;
                font-family: "Cairo", sans-serif;
                cursor: pointer;
                background: #f34141;
                box-shadow: 0px 1px 3px rgba(47, 43, 67, 0.1),
                  inset 0px -1px 0px rgba(47, 43, 67, 0.1);
                border-radius: 25px;
              }
            }
          }
        }
      }
    }
  }
}
.booking__modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  right: 0px;
  z-index: 11111;
  background: #0000005c;
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  .grid {
    max-width: 1300px;
    padding: 30px;
    margin: auto;
    display: grid;
    padding: 40px;
    grid-template-columns: 1fr 1.2fr;
    background: #fafafa;
    grid-gap: 35px;
    border-radius: 30px;
    .start {
      .top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;

        img {
          width: 100%;
          height: 100%;
          max-height: 200px;
        }

        .detial {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;

          h2 {
            font-family: "Cairo", sans-serif;
            font-size: 40px;
            font-weight: 700;
            color: #00afaa;
            display: flex;

            align-items: center;
            justify-content: center;
            gap: 2px;

            span {
              font-family: "Cairo", sans-serif;
              font-size: 38px;
              font-weight: 500;
              color: #00afaa;
            }
          }

          span {
            font-size: 16px;
            font-weight: 400;
            color: black;
            font-family: "Cairo", sans-serif;
          }
        }
      }
      .item {
        text-align: end;
        display: grid;
        grid-gap: 10px;
        margin-top: 20px;
        h2 {
          font-size: 22px;
          color: #373a36;
          font-weight: 900;
          margin: 0;
        }
        p {
          font-size: 18px;
          color: black;
          margin: 0;
        }
      }
    }
    .end {
      .detial {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        h2 {
          font-family: "Cairo", sans-serif;
          font-size: 40px;
          font-weight: 700;
          color: #00afaa;
          display: flex;

          align-items: center;
          justify-content: center;
          gap: 2px;

          span {
            font-family: "Cairo", sans-serif;
            font-size: 38px;
            font-weight: 500;
            color: #00afaa;
          }
        }

        span {
          font-size: 16px;
          font-weight: 400;
          color: black;
          font-family: "Cairo", sans-serif;
        }
      }
      .bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        flex-direction: column;
        padding: 0;

        .box {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          flex-direction: row-reverse;

          .h {
            font-weight: 400;
            font-size: 22px;
            font-family: "Cairo", sans-serif;
            color: #373a36;
          }

          .n {
            font-weight: 400;
            font-size: 20px;
            font-family: "Cairo", sans-serif;
            color: #373a36;
          }
        }

        .btns {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 20px;

          .input-box {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 8px;
            width: 100%;
            font-family: "Cairo", sans-serif;

            p {
              font-weight: 600;
              font-size: 16px;
              font-family: "Cairo", sans-serif;
              color: #373a36;
            }

            .input {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              padding: 0px 16px;
              gap: 12px;
              height: 48px;
              background: #fafafa;
              border: 1px solid rgba(47, 43, 67, 0.1);
              box-shadow: 0px 1px 3px rgba(47, 43, 67, 0.1),
                inset 0px -1px 0px rgba(47, 43, 67, 0.1);
              border-radius: 12px;
              width: 100%;
              padding: 0px 16px;

              input {
                background: #fafafa;
                height: 100%;
                width: 100%;
                border: 0px;
                outline: none;
                display: flex;
                align-items: center;
                text-align: right;
                font-family: "Cairo", sans-serif;
                font-size: 16px;
                font-weight: 400;
                color: rgba(47, 43, 67, 0.6);
              }
            }
          }

          .submit-btn {
            background: #ffcd00;
            padding: 12px 42px;
            box-shadow: 0px 1px 3px rgba(47, 43, 67, 0.1),
              inset 0px -1px 0px rgba(47, 43, 67, 0.1);
            border-radius: 25px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
              font-weight: 700;
              font-size: 16px;
              color: #373a36;
            }
          }
        }
      }
      .btns {
        display: flex;
        gap: 10px;
        align-items: center;
        .cancel {
          font-weight: 700;
          font-size: 16px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 12px 16px;
          gap: 8px;
          max-width: 442px;
          color: white;
          height: auto;
          font-family: "Cairo", sans-serif;
          cursor: pointer;
          background: #f34141;
          box-shadow: 0px 1px 3px rgba(47, 43, 67, 0.1),
            inset 0px -1px 0px rgba(47, 43, 67, 0.1);
          border-radius: 25px;
        }
        .confirm {
          width: 100%;
          background: #ffcd00;
          box-shadow: 0px 1px 3px rgba(47, 43, 67, 0.1),
            inset 0px -1px 0px rgba(47, 43, 67, 0.1);
          border-radius: 25px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          padding: 12px 16px;
          color: black;
        }
      }
    }
  }
}
