@import "./variable.scss";
@import "./media.scss";

#fleet {
  background: #ffffff;
  width: 100%;
  border-radius: 75px 75px 0px 0px;

  @include sm {
    border-radius: 60px 60px 0px 0px;

  }

  .container {
    max-width: 1250px;
    margin: auto;
    display: flex;
    padding: 120px 20px 90px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;

    .top-main {
      display: grid;
      grid-template-columns: 1fr 1.4fr;
      padding: 30px 0px;

      @include md {
        grid-template-columns: 1fr;
        row-gap: 30px;
      }

      .first {
        display: flex;
        align-items: end;
        justify-content: start;
        gap: 20px;

        @include sm {
          gap: 0px;
        }
      }

      .second {
        font-family: "Cairo", sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 45px;
        text-align: end;
        letter-spacing: 0em;
        color: #373a36;
      }
    }

    .grid-box {
      display: flex;
      flex-direction: column;
      gap: 30px;
      width: 100%;

      .btns {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .impression {
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: end;
          gap: 20px;

          .btn {
            cursor: pointer;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 8px 10px;
            color: #373a36;
            gap: 4px;
            background: #e6e6e6;
            border: 1px solid rgba(47, 43, 67, 0.1);
            border-radius: 20px;
          }

          .btn__active {
            cursor: pointer;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 8px 12px;
            color: #3a9a69;
            gap: 4px;
            font-family: "Cairo", sans-serif;

            background: #e6e6e6;
            border: 1px solid rgba(47, 43, 67, 0.1);
            border-radius: 20px;
            font-size: 14px;
            font-weight: 500;
            background: #d9f9e6;
          }
        }
      }
    }

    .flex-wrap {
      display: grid;
      grid-template-columns: 3fr 1fr;
      grid-gap: 25px;
      padding-bottom: 0px;

      @include sm {
        grid-template-columns: 1fr;
      }

      .flex {
        display: grid;
        grid-gap: 60px 25px;
        grid-template-columns: 1fr 1fr 1fr;
        height: fit-content;
        width: max-content;

        @include lg {
          grid-template-columns: 1fr 1fr;
        }
        @include md {
          height: 100%;
          width: 100%;
        }

        @include md {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}