#fleet-side {
  aside {
    * {
      color: black;
    }
    .item__ {
      padding: 15px 10px;
      border-bottom: 1px solid #e0e0e0a1;
      .name {
        text-align: end;
        padding: 14px 0;
        color: #03aea8;
        text-transform: capitalize;
      }
      .tools {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        align-items: center;
      }
      ul {
        display: grid;
        grid-gap: 10px;
        list-style: none;
        margin: 0;
        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .range-slider {
            width: 100%;
            margin: 2rem auto;
          }

          .range-slider input[type="range"] {
            width: 100%;
            cursor: pointer;
          }

          .start {
          }
          .end {
            display: flex;
            align-items: center;
            gap: 5px;
          }
        }
      }
    }
  }
}
