@import "./variable.scss";
@import "./media.scss";

footer {
  position: relative;
  background-color: #ffcd00;
  z-index: 0;

  .container {
    max-width: 1200px;
    margin: auto;
    padding: 15px;

    .top {
      display: grid;
      grid-template-columns: 2fr 1.2fr 1.2fr;
      padding: 90px 0;

      @include md {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 50px;
      }

      @include mobile {
        grid-template-columns: 1fr;
      }

      .box {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        gap: 25px;

        @include md {
          align-items: center;
        }

        P {
          color: black;
          font-weight: 400;
          max-width: 300px;
          text-align: end;
        }

        .icons {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;

          .second {
            border: 2px solid black;
            border-radius: 10px;
          }

          @include mobile {
            flex-direction: column;
          }
        }

        .media-icon {
          display: flex;
          margin-right: 70px;
          align-items: center;
          justify-content: center;

          @include md {
            margin-right: 0px;
            margin-right: 0px;
          }
        }
      }

      h2 {
        color: #000000;
        font-weight: 700;
        font-family: "Cairo", sans-serif;
        text-align: end;
        color: #000000;
        list-style: none;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 0px;
        margin: 0px;

        li {
          color: #000000;
          font-weight: 400;
          width: 100%;
          text-align: end;
          font-family: "Cairo", sans-serif;
          list-style: none;

          @include md {
            text-align: center;
          }
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        gap: 15px;
      }
    }

    .bottom__footer {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      @include md {
        flex-direction: column;
        gap: 20px;
      }

      .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;

        @include md {
          order: 1;
        }

        p {
          color: #000000;
          font-weight: 700;
          font-family: "Cairo", sans-serif;
          text-align: center;
        }

        span {
          color: #000000;
          font-weight: 400;
          width: 100%;
          text-align: center;
          font-family: "Cairo", sans-serif;
          list-style: none;
        }
      }

      .chatbot {
        display: flex;
        align-items: center;
        justify-content: end;
        align-items: end;
        position: fixed;
        bottom: 5%;
        right: 5%;
        cursor: pointer;
        transition: 0.3s all;
        z-index: 1001;

        @include mobile {
          flex-direction: column;
        }

        >img {
          width: 65px !important;
          transform: scale(0);
        }

        .card {
          border-radius: 15px;
          width: max-content;
          max-width: 290px;
          margin-right: 224px;

          @include mobile {
            margin-right: 0px;
          }
        }

        .card-header {
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
          background: #ffcd00 !important;
        }

        @include md {
          order: 3;
          // img {
          //   width: 50px;
          // }
        }
      }

      .arrow {
        display: flex;
        align-items: center;
        justify-content: start;
        align-items: center;

        @include md {
          order: 2;
          position: absolute;
          bottom: 15px;
        }
      }
    }
  }
}