@import "./variable.scss";
@import "./media.scss";

#form {
  .container {
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 30px;
    padding: 130px 15px 90px 15px;
    .heading {
      h1 {
        color: #006281;
        font-size: clamp(18%, 10vw, 4rem);
        text-align: start;
        font-weight: 600;
        font {
          color: #006281;
        }
      }
    }
    .form {
      width: 100%;
    }
    .inputs-field {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 15px;
      width: 100%;
      .input {
        display: flex;
        align-items: center;
        justify-content: start;
        width: 100%;
        gap: 8px;
        input,
        textarea {
          padding: 8px 5px;
          border: 1px solid #006281;
          outline: none;
          color: black;
          width: 100%;
        }
        span {
          color: #006281;
          font-size: 30px;
          font {
            color: #006281;
          }
        }
      }
    }
    .text {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 5px;
      p {
        color: #006281;
        text-align: center;
        font-size: 22px;
        letter-spacing: 0.2px;
        line-height: 1.2em;
        font-weight: 200;
        text-align: start;
        font {
          color: #006281;
        }
      }
    }
    .check {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 5px;
      color: #006281;
      font {
        color: #006281;
      }
      input {
        padding: 10px;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .btn {
      display: flex;
      align-items: center;
      margin-top: 25px;
      width: 100%;
      justify-content: center;
      button {
        border-radius: 20px;
        text-transform: uppercase;
        padding: 15px 35px;
        background: #006281;
        color: white;
        font-weight: 600;
        font-size: 24px;
      }
    }
  }
}
.map {
  background: #fff;
  padding-top: 40px;
  padding-bottom: 200px;
  .container__ {
    max-width: 1200px;
    margin: auto;
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 3rem;
      align-items: center;
      @include md {
        grid-template-columns: 1fr;
        grid-gap: 3rem;
      }
      .start {
        > div {
          @include md {
            width: 90% !important;
            margin: auto;
          }
        }
      }
      .info {
        .item {
          display: grid;
          max-width: 350px;
          margin-left: auto;
          margin-bottom: 30px;
          @include md {
            margin: auto;
          }
          label {
            text-align: right;
            letter-spacing: -0.01em;

            /* Primary/900 */

            color: rgba(47, 43, 67, 1);
            padding: 10px 0;
          }
          .dropdown {
            background: #ffffff;
            /* Alpha-black/10% */
            padding: 0 15px;
            display: grid;
            grid-template-columns: 20px 3fr 20px;
            grid-gap: 10px;
            align-items: center;
            border: 1px solid rgba(47, 43, 67, 0.1);
            /* Shadows/1 */
            height: 50px;
            box-shadow: 0px 1px 3px rgba(47, 43, 67, 0.1),
              inset 0px -1px 0px rgba(47, 43, 67, 0.1);
            border-radius: 12px;
            p {
              color: rgba(47, 43, 67, 0.6);
              text-align: right;
            }
          }
        }
      }
    }
    .bottom {
      margin-top: 25px;
      display: flex;
      gap: 25px;
      @include md {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      .item {
        display: flex;
        align-items: center;
        gap: 15px;
        .end {
          display: grid;
          h4 {
            font-weight: 700;
            font-size: 16px;
            line-height: 37px;

            color: #373a36;
          }
          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 30px;
            /* identical to box height */

            color: #373a36;
          }
        }
      }
    }
  }
}
