@import "./variable.scss";
@import "./media.scss";

.navigate-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  right: 0px;
  z-index: 11111;
  background: #0000005c;
  backdrop-filter: blur(2px);

  #navigate {
    z-index: 1111;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    overflow: auto;



    .container {
      max-width: 1300px;
      padding: 30px;
      margin: auto;
      display: flex;
      flex-direction: column-reverse;
      padding: 40px 20px;
      background: #fafafa;
      grid-gap: 35px;
      border-radius: 75px;
      width: 342px;
      height: 62vh;
      display: flex;
      align-items: center;
      justify-content: end;
      margin: 0px;



      .content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;



        .icons-wrapper {
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: center;
          gap: 20px;

          .para {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            span {
              font-family: "Cairo", sans-serif;
              font-weight: 700;
              color: #373a36;
              position: relative;
              font-size: 22px;
            }
          }

          .icons {
            display: flex;
            align-items: center;
            padding: 10px;
            justify-content: center;
            width: 100%;
            gap: 15px;
            flex-direction: row-reverse;

            li {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 20px;
              justify-content: center;

              img {
                max-width: 30px;
                width: 100%;
                width: 30px;

                @include mobile {}
              }

              span {
                font-family: "Cairo", sans-serif;
                color: #00afaa;
                font-weight: 700;
                font-size: 20px;

                @include mobile {
                  font-size: 18px;
                }
              }
            }
          }
        }

        .heading {
          display: flex;
          align-items: center;
          justify-content: end;
          gap: 25px;

          h1 {
            font-size: 40px;
            font-weight: 700;
            line-height: 54px;
            font-family: "Cairo", sans-serif;
            color: #00afaa;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;

            @include mobile {
              font-size: 30px;
            }

            span {
              font-size: 40px;
              font-weight: 500;
              display: flex;
              align-items: end;
              justify-content: center;
              line-height: 54px;
              font-family: "Cairo", sans-serif;
              color: #00afaa;
            }
          }

          span {
            font-family: "Cairo", sans-serif;
            color: #000000;
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
          }

          .cross {
            position: absolute;
            left: -30px;
            top: -95px;
            cursor: pointer;

            @include mobile {
              margin-top: 18px;
            }
          }
        }



        .list {
          /* display: flex; */
          display: flex;
          list-style: none;
          text-align: end;
          align-items: center;
          justify-content: end;
          gap: 20px;

          .bold {
            li {
              font-size: 16px;
              font-weight: 700;
              font-family: "Cairo", sans-serif !important;
              color: #000000;
              list-style: none;
            }
          }

          .light {
            li {
              font-size: 16px;
              font-weight: 400;
              font-family: "Cairo", sans-serif !important;
              color: #000000;
              list-style: none;
            }
          }

          ul {
            display: flex;
            align-items: end;
            gap: 20px;
            justify-content: center;
            flex-direction: column;

            li {}
          }
        }

        .price-btn {
          display: flex;
          justify-content: center;
          gap: 10px;
          flex-direction: column;
          align-items: start;
          width: 100%;
          gap: 5px;
          max-width: 245px;

          @include md {}

          .btn-top {
            .btn {


              gap: 10px;

              border-radius: 25px;

              padding: 0px;
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              background: transparent;

              @include md {
                width: auto;
                font-size: 14px;
              }

              .one {
                color: #373a36;
                position: relative;
                font-weight: 700;
                font-size: 16px;

                &::before {
                  content: "";
                  width: 100%;
                  height: 100%;
                  position: absolute;
                  top: 0;
                  right: 0;
                  background: url(../assests/Fleet/line.1.png);

                  background-repeat: no-repeat;
                  background-position: center right;
                  z-index: 0;
                }
              }

              .second {


                color: #373a36;
                font-family: "Cairo", sans-serif;
                font-size: 14px;
                font-weight: 700;
                padding: 4px 8px;
                border-radius: 20px;
                background: #FCFFFE;
                border: 1px solid rgba(47, 43, 67, 0.2);
              }
            }


          }

          .btn-bottom {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 15px;
            flex-direction: row-reverse;

            .btn-2 {

              background: #ffcd00;
              box-shadow: 0px 1px 3px rgba(47, 43, 67, 0.1),
                inset 0px -1px 0px rgba(47, 43, 67, 0.1);
              border-radius: 25px;
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              padding: 12px 16px;

              @include md {
                padding: 12px 30px;
                width: auto;
              }

              span {
                color: #373a36;
                font-family: "Cairo", sans-serif;
                font-size: 16px;
                font-weight: 700;

                @include md {
                  font-size: 12px;
                }
              }
            }

            .btn-1 {
              span {
                color: #00afaa;
                font-family: "Cairo", sans-serif;
                font-size: 24px;
                font-weight: 700;

                b {
                  color: #373a36;
                  position: relative;
                  font-weight: 700;
                  font-size: 20px;
                }


              }
            }
          }


        }
      }

      .img {
        display: flex;
        align-items: center;
        justify-content: center;

        @include md {
          order: 2;
        }

        img {
          width: 250px;
          height: 100%;
          max-width: 300px;

          @include sm {
            width: 100%;
            height: 100%;
            max-width: 300px;
          }
        }
      }
    }
  }
}