@import "./variable.scss";
@import "./media.scss";

#passwordF {
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 90px 30px;
        margin-left: 60px;
        height: 100%;
        gap: 16px;
        /* position: absolute; */
        max-width: 893px;
        background-color: white;
        border-radius: 75px 75px 0px 0px;
        left: 304px;
        top: 106px;
        box-shadow: 10px 10px 48px rgba(148, 139, 126, 0.25);

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            width: 100%;
            justify-content: center;

            .input {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                gap: 5px;
                font-family: "Cairo", sans-serif;

                p {
                    font-weight: 600;
                    font-size: 16px;
                    font-family: "Cairo", sans-serif;
                    color: #373a36;
                }
            }

            .same {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0px;
                gap: 8px;
                width: 100%;
                font-family: "Cairo", sans-serif;

                .under {
                    display: flex;
                    flex-direction: row;

                    align-items: center;
                    padding: 0px 16px;
                    gap: 12px;
                    justify-content: space-between;
                    height: 48px;
                    background: #fafafa;
                    border: 1px solid rgba(47, 43, 67, 0.1);
                    box-shadow: 0px 1px 3px rgba(47, 43, 67, 0.1),
                        inset 0px -1px 0px rgba(47, 43, 67, 0.1);
                    border-radius: 12px;
                    width: 100%;
                    padding: 0px 16px;

                    input {
                        background: #fafafa;
                        height: 100%;
                        width: 100%;
                        border: 0px;
                        outline: none;
                        text-align: end !important;
                    }
                }

                p {
                    font-weight: 600;
                    font-size: 16px;
                    font-family: "Cairo", sans-serif;
                    color: #373a36;
                    width: 100%;
                    text-align: end;
                }
            }

            .btn {
                width: 100%;
                cursor: pointer;
                /* margin-top: 10px; */
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 12px 16px;
                gap: 8px;
                height: 100%;
                max-width: 55px !important;
                max-height: 55px !important;
                font-family: "Cairo", sans-serif;
                font-size: 16px;
                font-weight: 700;
                color: #a2a9ad;
                box-shadow: 0px 1px 3px rgba(47, 43, 67, 0.1),
                    inset 0px -1px 0px rgba(47, 43, 67, 0.1);
                border-radius: 100% !important;

                a {}
            }

            .wrapper {
                display: grid;
                width: 100%;
                grid-gap: 20px;
                align-items: center;
                grid-template-columns: 0.2fr 1fr;
                justify-content: center;

                #email {
                    .under {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;

                        gap: 12px;

                        input {
                            /* max-width: 377px !important; */
                            /* max-height: 24px !important; */
                            width: 100%;
                            height: 100%;
                            color: black;
                        }
                    }
                }
            }

            .wrapper {
                display: grid;
                width: 100%;
                grid-gap: 20px;
                align-items: center;
                grid-template-columns: 0.2fr 1fr;
                justify-content: center;

                #password {
                    .under {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;

                        gap: 12px;

                        input {
                            /* max-width: 377px !important; */
                            /* max-height: 24px !important; */
                            width: 100%;
                            color: black;
                            text-align: end;
                            height: 100%;
                        }
                    }
                }
            }

            .wrap-btn {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: end;

                .submit {
                    width: 100%;
                    cursor: pointer;
                    /* margin-top: 10px; */
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 12px 16px;
                    gap: 8px;
                    height: 100%;

                    font-family: "Cairo", sans-serif;
                    font-size: 16px;
                    font-weight: 700;
                    background: #ffcd00;
                    color: #a2a9ad;
                    box-shadow: 0px 1px 3px rgba(47, 43, 67, 0.1),
                        inset 0px -1px 0px rgba(47, 43, 67, 0.1);
                    max-width: 508px;
                    max-height: 44px;



                    background: #FFCD00;


                    box-shadow: 0px 1px 3px rgba(47, 43, 67, 0.1), inset 0px -1px 0px rgba(47, 43, 67, 0.1);
                    border-radius: 25px;


                }
            }

            .para {
                color: #373a36;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                margin: 7px;

                a {
                    color: #35a7ab;
                    text-decoration: none;
                }
            }
        }
    }
}