@import "./variable.scss";
@import "./media.scss";

#user-profile {
  position: relative;
  z-index: 3;
  overflow: hidden;

  .user-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 25px;
    max-width: 1200px;
    margin: auto;
    padding: 100px 20px;
    padding-bottom: 0px;

    @include md {
      display: flex;
      flex-direction: column-reverse;
    }

    .form {
      @include md {}
    }

    #sidebar {
      @include md {
        order: 1;

      }
    }

    .container-main {
      max-width: 850px;
    }
  }
}