@import "./variable.scss";
@import "./media.scss";

#user-profile {
  position: relative;
  z-index: 3;
  .user-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 25px;
    max-width: 1200px;
    margin: auto;
    padding: 90px 20px;
    padding-bottom: 0px;

    .container-main {
      max-width: 850px;
    }
  }
}
